{% extends 'base.html.twig' %}

{% block title %}{{ genre | capitalize }} Books{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ genre | capitalize }} Books</h1>
        <div class="book-container">
            {% for book in books %}
                {% if book.approved %}  {# Check if the book is approved #}
                    <div class="book-item">
                        {% if book.imageFilename %}  {# Check if the book has an image #}
                            <img src="{{ asset('uploads/book_images/' ~ book.imageFilename) }}" alt="{{ book.title }}" class="book-image" />
                        {% else %}
                            <img src="{{ asset('uploads/book_images/default-book-image.png') }}" alt="Default image" class="book-image" /> {# Default image #}
                        {% endif %}
                        <a href="{{ path('app_book_show', { id: book.id }) }}" class="book-title">{{ book.title }}</a>
                        <p class="book-author">{{ book.author }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if books|length == 0 %}
            <p>No approved books found in this genre.</p>
        {% endif %}
    </div>
{% endblock %}
